@font-face {
  font-family: Futura;
  src: url(fonts/FuturaPTBold.ttf);
}

body {
  margin: 0%;
  background-color: black;
}

header {
  background-color: black;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 250px;
}

.l1 {
  color: rgb(255, 255, 255);
  list-style: none;
  display: flex;
  gap: 50px;
}

.l1 > a {
  color: #fff;
  text-decoration: none;
}

.img1 {
  height: 80px;
  width: 150px;
}

.b {
  border-radius: 20px;
  background-color: red;
  color: #fff;
  padding: 6px;
  border: 0px;
}

:root {
  --fontcolor: white;
  --fontcolor2: rgb(145, 3, 3);
}

div.d1 {
  color: var(--fontcolor);
  text-align: center;
}

.p1 {
  color: var(--fontcolor);
}

.d2 {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.s1 {
  background-color: #fff;
  border-radius: 5px;
}

.s2 {
  background-color: #fff;
  border-radius: 5px;
}

.s3 {
  background-color: #fff;
  border-radius: 5px;
}

.d3 {
  display: flex;
  justify-content: center;
  gap: 130px;
  background-color: black;
}

.b1 {
  border-radius: 25px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 20px;
  border: 1px solid white;
  margin: 20px;
}
.d4 {
  background-color: #0f0f0f;
}

.cd1 {
  color: #fff;
}
.p2 {
  color: var(--fontcolor2);
}
.L1 {
  color: #acb4b4;
}
.S {
  color: #fff;
}
.R {
  color: #fff;
}
.b2 {
  border-radius: 25px;
  background-color: #0f0f0f;
  color: #fff;
  padding: 20px;
  border: 1px solid white;
  margin: 20px;
}
.pd1 {
  display: flex;
  justify-content: space-around;
}
.pd2 {
  display: flex;
  justify-content: space-around;
}
.pd3 {
  display: flex;
  justify-content: space-around;
}
.d5 {
  background-color: black;
}
.cd51 {
  color: #fff;
}
.pd51 {
  display: flex;
  justify-content: space-around;
}
.pd52 {
  display: flex;
  justify-content: space-around;
}
.pd53 {
  display: flex;
  justify-content: space-around;
}
.pd54 {
  display: flex;
  gap: 50px;
  justify-content: center;
}
.d6 {
  background-color: #0f0f0f;
}
.pd61 {
  color: #fff;
}
.pd62 {
  display: flex;

  width: 100%;
}
.cd61 {
  width: 50%;
}
.cd62 {
  width: 50%;
  align-content: center;
  margin-left: -110px;
}
.b3 {
  border-radius: 25px;
  background-color: #28a745;
  color: #fff;
  padding: 20px;
  border: 1px solid white;
  margin: 20px;
  width: 174px;
  height: 50px;
}
.d7 {
  background-color: black;
  height: 1600px;
}
.cd71 {
  background-color: #fff;
  width: 350px;
  height: 230px;
  margin: 0px 0px 32px;
  padding: 35px 24px;
}
.S2 {
  color: white;
}
.f2 {
  font-family: Futura;
  font-size: 24px;
}
.f1 {
  font-size: 20px;
}
.pd72 {
  display: flex;
  justify-content: space-evenly;
}
.cd71 {
  border-radius: 8px;
}

.pd73 {
  display: flex;
  justify-content: space-evenly;
}
.image {
  width: 311px;
  height: 311px;
}
.pd74 {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.heading {
  color: #fff;
}
.d8 {
  background-color: #0f0f0f;
  display: flex;
 height: 650px;
 justify-content: center;
 gap: 50px;
 padding-top: 50px;
}
.pd81 {
  width: 285.75px;
  height: 346px;
}

.img2 {
  height: 94px;
  width: 170px;
  padding: 0px 0px 24px;
}
.para1 {
  color: #acacac;
  padding: 0px 0px 24px;
font-size:25px ;
  margin: 0%;
}
.l2 {
  color: #acacac;
font-size: 25px;
  list-style: none;
}
.a {
  text-decoration: none;
  color: #acacac;
}
.l3>a{
  color:  #acacac;
  text-decoration: none;
  list-style: none;
}
.h4{
  color: #fff;
}
.pd82{
  width: 252.75px;
  height: 403px;
}
.li1{
  width: 210.63px;
  height: 36px;
  padding: 0px 0px 16px ;
  font-size: 25px;
}
.l4{
  list-style: none;
}
.lic{
  color: #acacac; 
 text-decoration: none;
 font-size: 25px;
}
.l4>li{
  color: #fff;
  list-style: none;
  
}
.pd84{

}
.b41 {
  background-color: #ED1C24;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 0px;
 }
 .b42{
  background-color: #ED1C24;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 0px;

 }
 .b43{
  background-color: #ED1C24;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 0px;
 }
.lb4{
  font-size: 25px;
 
}
.l5{
  list-style: none;
}
.h6{
  color: white;
}
.img3{
  background-color: #0f0f0f;
}
.appstoreandplaystore{
  width: 141px;
  height: 44px;
  margin: 15px;
  margin-left: 0px;
}
.d9{
  margin-top :0px;
  padding: 100px;
  background-color: #0f0f0f;
  
}
.d9>hr{
  color: #acacac ;
}
.span2{
  color: #acacac ;
  float: left;
  font-size: 25px;

}
.span3{
  color: #acacac;
  text-decoration: none;
  float: right;
  font-size: 25px;
}